@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.metro-info {
  &__subway {
    @include body-5;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    vertical-align: middle;

    @include bp-1023 {
      @include body-6;
    }
  }

  &__distance {
    @include body-6;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  &__icon {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    margin-right: 2px;
  }
}
