@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.feedback {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px 20px;

  @include bp-743 {
    gap: 30px;
  }

  @include bp-479 {
    padding: 20px 16px;
  }

  &__head {
    @include headline-5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      display: flex;
      gap: 20px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &-item {
      width: 180px;
    }
  }
}
