@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.list {
  @include body-5;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 273px);
  margin: 20px 0 0 20px;
  overflow-y: auto;

  @include bp-743 {
    height: unset;
    margin-bottom: 20px;
    overflow-y: unset;
  }
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus-within {
    border-bottom: 1px solid $iris-400;

    .checkbox {
      border-color: $iris-400;
    }
  }

  &__text {
    flex-grow: 1;
  }

  &__icon {
    min-width: 16px;
    min-height: 12px;
  }
}
