@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 273px);
  margin: 20px 0 20px 20px;
  overflow-y: auto;

  @include bp-479 {
    overflow-y: unset;
  }
}

.metro-line {
  @include body-5;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus-within {
    border-bottom: 1px solid $iris-400;

    .metro-line__checkbox {
      border-color: $iris-400;
    }
  }

  &__line {
    width: 13px;
    height: 4px;
    border-radius: 2px;
  }

  &__checkbox-wrapper {
    padding: 0 10px 0 0;
    margin: 0 0 0 auto;
  }
}

.metro-list {
  height: auto;
  margin: 0 0 20px;
}
