@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/typography' as *;

.empty {
  @include body-5;
  max-width: 421px;
  padding: 20px 40px;
  margin: 20px auto;
  text-align: center;
  background-color: $gray-blue-50;
  border-radius: 10px;
}
