@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.description {
  position: relative;
  min-width: 290px;
  min-height: 130px;
  padding: 20px;
  background-color: $neutral-0;
  border-radius: 20px;

  @include bp-1023 {
    max-width: 704px;
  }

  @include bp-479 {
    padding-top: 43px;
  }

  &__heading {
    @include  headline-5;
    padding-bottom: 10px;
    color: $orange-a500;
  }

  &__text {
    @include body-5;
    padding-right: 113px;
    color: $gray-blue-600;

    @mixin bp-743 {
      padding-right: 107px;
    }

    @include bp-479 {
      padding-right: 0;
    }
  }

  &__text_visible {
    display: (-webkit-box);
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__img {
    position: absolute;
    top: 36px;
    right: 36px;

    @include bp-479 {
      top: 12px;
      right: 18px;
    }
  }

  &__circle {
    width: 58px;
    height: 58px;
    background-color: $iris-100;
    border-radius: 50%;

    @include bp-479 {
      width: 45px;
      height: 45px;
    }
  }

  &__key {
    position: absolute;
    top: 0;
    width: 60px;
    height: 68px;
    background-image: url('/images/long/golden-key.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include bp-479 {
      width: 46px;
      height: 53px;
    }
  }

  &__btn {
    width: 107px;
    margin-right: 0;
    margin-left: auto;

    &-icon {
      width: 16px;
      height: 16px;
      margin-left: 2px;
    }
  }
}
