@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.description {
  position: relative;
  min-width: 290px;
  min-height: 130px;
  padding: 20px;
  background-color: $neutral-0;
  border-radius: 20px;

  @include bp-1023 {
    max-width: 704px;
  }

  @include bp-743 {
    padding: 30px 10px 20px 20px;
  }

  &__heading {
    @include  headline-5;
    margin: 0 0 20px;
    color: $orange-a500;
  }

  &__parameters {
    @include body-5;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 40px;
    margin: 0 0 20px;
    color: $gray-blue-400;

    @include bp-479 {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @include body-5;
    padding-right: 113px;
    color: $gray-blue-600;

    @include bp-743 {
      padding: 0;
    }
  }

  &__text_visible {
    display: (-webkit-box);
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__img {
    position: absolute;
    top: 36px;
    right: 36px;

    @include bp-743 {
      top: 22px;
      right: 22px;
    }
  }

  &__circle {
    width: 58px;
    height: 58px;
    background-color: $iris-100;
    border-radius: 50%;

    @include bp-743 {
      width: 45px;
      height: 45px;
    }

    @include bp-479 {
      width: 45px;
      height: 45px;
    }
  }

  &__key {
    position: absolute;
    top: -8px;
    width: 58px;
    height: 79px;
    background-image: url('/images/short/suitcase.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include bp-743 {
      width: 45px;
      height: 61px;
    }
  }

  &__btn {
    width: 107px;
    margin-right: 0;
    margin-left: auto;

    &-icon {
      width: 16px;
      height: 16px;
      margin-left: 2px;
    }
  }
}
