@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.banner {
  display: flex;
  max-width: 984px;
  padding: 20px;
  margin: 0 auto;
  background-color: $neutral-0;
  border-radius: 20px;
  box-shadow: $soft-004;

  @include bp-1023 {
    width: fit-content;
    max-width: 700px;
  }

  @include bp-743 {
    max-width: 440px;
    padding: 10px;
  }

  @include bp-479 {
    flex-direction: column;
    max-width: 300px;
    min-height: 380px;
  }

  > :first-child {
    display: flex;
    flex-grow: 1;
  }

  &__content {
    display: flex;
    gap: 30px;

    @include bp-743 {
      gap: 10px;
      min-width: 420px;
    }

    @include bp-479 {
      flex-direction: column;
      gap: 20px;
      min-width: auto;
    }
  }

  &__image {
    position: relative;
    width: 301px;
    height: 190px;
    overflow: hidden;
    border-radius: 20px;

    @include bp-1023 {
      width: 206px;
      height: 160px;
    }

    @include bp-743 {
      width: 130px;
      height: 240px;
    }

    @include bp-479 {
      width: 280px;
      height: 160px;
    }
  }

  &__text {
    margin-top: 20px;

    @include bp-1023 {
      max-width: 363px;
      margin-top: 10px;
    }

    @include bp-743 {
      max-width: 280px;
      margin-top: 20px;
    }

    @include bp-479 {
      max-width: 490px;
      margin: 0;
    }

    &-title {
      @include headline-4;
      margin-bottom: 14px;

      @include bp-1023 {
        @include headline-5;
        margin-bottom: 4px;
      }

      @include bp-743 {
        margin-bottom: 2px;
      }
    }

    &-subtitle {
      @include headline-5;
      margin-bottom: 10px;

      @include bp-1023 {
        @include subtitle-1;
      }

      @include bp-743 {
        @include subtitle-2;
      }

      @include bp-479 {
        @include subtitle-3;
      }
    }

    &-paragraph {
      @include body-4;

      @include bp-1023 {
        max-width: 288px;
      }

      @include bp-479 {
        @include body-5;
      }
    }

    .secondary > &-title,
    .secondary > &-paragraph {
      color: $iris-900;
    }

    .primary > &-title,
    .primary > &-paragraph, {
      color: $gray-blue-600;
    }

    .secondary > &-subtitle, {
      color: $iris-300;
    }

    .primary > &-subtitle, {
      color: $orange-a500;
    }
  }

  &__button {
    align-self: flex-end;
    padding: 11px 17px;
    @include bp-743 {
      position: relative;
      right: 120px;
    }

    @include bp-479 {
      position: static;
    }
  }
}
