@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 60px 110px;

  @include bp-743 {
    gap: 30px;
    margin: 30px 30px 50px;
  }
  @include bp-479 {
    gap: 30px;
    margin: 40px 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    &-title {
      @include headline-4;

      @include bp-743 {
        @include headline-5;
      }
    }

    &-description {
      @include body-3;

      @include bp-743 {
        @include body-4;
      }
    }
  }
}
