@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.messenger {
  display: flex;
  gap: 20px;
  align-items: center;

  &_round {
    @include subtitle-2;
    justify-content: center;
    width: 268px;
    height: 52px;
    background: $neutral-0;
    border-radius: 30px;
    box-shadow: $soft-004;

    @include bp-743 {
      justify-content: space-around;
    }

    @include bp-479 {
      @include subtitle-3;
      justify-content: center;
    }
  }

  &_neutral {
    @include body-4;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: $gray-blue-50;
    border-radius: 4px;
  }

  &__inner {
    display: flex;
    gap: 20px;
  }
}
