@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  width: 385px;
  height: auto;
  padding: 30px 20px 20px;
  background-color: $neutral-0;
  border-radius: 20px;
    
  @include bp-1279 {
    width: 321px;
  }

  @include bp-1023 {
    width: 582px;
    padding: 20px;
  }

  @include bp-743 {
    width: 441px;
  }

  @include bp-479 {
    width: 288px;
  }
}

.header {
  .dates {

    @include subtitle-2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;

    @include bp-1023 {
      margin-bottom: 0;
    }
    @include bp-479 {
      display: block;
    }
  }

  .button__container {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: 10px;

    @include bp-479 {
      justify-content: flex-start;
    }

    .button {
      width: 120px;

      @include bp-479 {
        width: inherit;
      }
    }
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 230px;

  @include bp-1279 {
    height: 210px;
  }

  @include bp-1023 {
    width: 140px;
    height: 86px;
  }

  @include bp-743 {
    height: 104px;
  }

  @include bp-479 {
    width: 100%;
    height: 150px;
  }
}

.info-container {

  @include body-4;
  color: $gray-blue-400;

  @include bp-1279 {
    width: 251px;
  }

  @include bp-1023 {

    @include body-5;
    width: 382px;
    margin-left: 20px;
  }

  @include bp-743 {
    width: 241px;
  }

  @include bp-479 {
    margin-top: 10px;
    margin-left: 0;
  }
}

.info:first-child {
  margin: 10px 0;
  word-wrap: break-word;

  @include bp-1023 {
    margin: 0 0 10px;
  }
}

.apartment-prewiew {

  @include bp-1023 {
    display: flex;
  }
    
  @include bp-479 {
    display: block;
  }
}
