@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  width: 284px;
  height: auto;
  padding: 20px;
  background-color: $neutral-0;
  border-radius: 20px;
    
  @include bp-1279 {
    width: 321px;
  }

  @include bp-1023 {
    width: 287px;
  }

  @include bp-743 {
    width: 441px;
  }

  @include bp-479 {
    width: 288px;
  }
}

.header {
  display: none;

  .dates {
    display: none;
  }

  .button__container {
    display: none;

    .button {
      display: none;
    }
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 120px;

  @include bp-1279 {
    height: 95x;
  }

  @include bp-1023 {
    height: 116px;
  }

  @include bp-743 {
    width: 133px;
    height: 114px;
  }

  @include bp-479 {
    width: 100%;
    height: 116px;
  }
}

.info-container {

  @include body-4;
  margin-top: 20px;
  color: $gray-blue-400;

  @include bp-743 {
    width: 241px;
    margin-top: 0;
    margin-left: 20px;
  }

  @include bp-479 {
    margin-top: 20px;
    margin-left: 0;
  }
}

.info:first-child {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.apartment-prewiew {

  @include bp-743 {
    display: flex;
  }
    
  @include bp-479 {
    display: block;
  }
}
