@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.metro {
  &__wrapper {
    border-bottom: 1px solid $gray-blue-50;
  }

  &__search {
    display: flex;
    padding: 10px 20px;
    background-color: $gray-blue-50;

    @include bp-743 {
      padding: 10px;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @include bp-743 {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__toolbar-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__toolbar-sort {
    display: flex;
    gap: 4px;

    @include bp-479 {
      width: 100%;
    }
  }
}

.tabs {
  &__wrapper {
    display: flex;
    gap: 4px;
    width: 100%;
    @include bp-479 {
      justify-content: space-around;
    }
  }

  &__button {
    padding: 8px 10px;
    border: 1px solid transparent;

    @include bp-743 {
      width: 142px;
    }

    &-active {
      color: $iris-700;
      background-color: $iris-50;
      border: 1px solid transparent;

      &:hover,
      &:focus {
        color: $iris-700;
        background-color: $iris-100;
        border: 1px solid transparent;
      }
    }
  }
}

.body__wrapper {
  overflow-y: hidden;

  @include bp-743 {
    overflow-y: auto;
  }
}

.footer__wrapper {
  position: static;
}

.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  &__button-accept {
    width: 270px;
    padding: 10px 20px;
    white-space: nowrap;

    @include bp-743 {
      width: 100%;
      padding: 10px;
    }
  }

  &__button-reset {
    padding: 13px 8px;
    white-space: nowrap;

    @include bp-743 {
      padding: 12px 8px;
    }
  }
}
