@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/_breakpoints' as *;
@use 'src/app/styles/core/_typography' as *;

.gallery-slider {

  @include hover-supported {
    &:hover &__btn-hover,
    &:focus &__btn-hover {
      display: flex;

      @include bp-1279 {
        display: none;
      }
    }
  }

  &__btn-hover {
    display: none;
  }
}

.main-swiper-container {
  display: flex;
  justify-content: center;

  @include bp-1023 {
    display: flex;
    height: 600px;
    margin-bottom: 80px;
  }

  @include bp-743 {
    height: 100%;
    height: calc(100vh - 150px);
    margin-bottom: 0;
  }

  @include bp-479 {
    display: flex;
    height: calc(100vh - 150px);
  }
}

.gallery-slider__button--next,
.gallery-slider__button--prev {
  position: absolute;
  top: 40%;
  transform: none;
}

.gallery-slider__button--next {
  margin-right: 75px;
}

.gallery-slider__button--prev {
  margin-left: 75px;
}

.slider__image {
  min-width: 1px;
  height: 540px;
  min-height: 1px;

  @include bp-1279 {
    height: 490px;
  }

  @include bp-1023 {
    width: 100%;
    height: 100%;
    max-height: 600px;
  }

  @include bp-743 {
    width: 440px;
    height: 100%;
  }

  @include bp-479 {
    width: calc(100% - 32px);
    height: auto;
    min-height: 204px;
    max-height: calc(100vh - 140px);
  }
}

.swiper-container {

  @include bp-1023 {
    display: flex;
    justify-content: center;
  }

  @include bp-743 {
    display: none;
  }
}

.slider__thumbs {
  width: 100%;
  height: 60px;
  margin-top: 20px;

  @include bp-1023 {
    margin-top: 10px;
  }

  &-inner {
    width: 60px;
    height: 60px;
  }

  &-img {
    cursor: pointer;
    border-radius: 2px;
  }

  [class*='swiper-slide-thumb-active'] {
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      content: '';
      background: linear-gradient(0deg, rgba(111, 89, 201, 0.2), rgba(111, 89, 201, 0.2));
      border: 2px solid $iris-500;
    }
  }
}
