@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.checkbox {
  &__required {
    @include body-6;
    margin-left: 26px;
    color: $pink-a700;
    cursor: default;
  }

  &__label {
    @include body-5;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    cursor: pointer;
  }

  &__box {
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    margin: 0;
    cursor: pointer;
    background-color: $neutral-0;
    border: 1px solid $gray-blue-600;
    border-radius: 4px;
    appearance: none;
    outline: none;
    transition: background-color 0.3s;

    &-required {
      border: 1px solid $pink-a700;
    }

    &:hover,
    &:focus {
      border-color: $iris-400;
    }

    &:active {
      border-color: $iris-400;
    }

    &:checked {
      background-color: $iris-900;
      background-image: url('/images/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-color: $iris-900;
    }
  }
}
