@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.wrapper {
  display: flex;
  gap: 20px;
  padding: 10px 20px 10px 10px;
  background-color: $gray-blue-50;
  border-radius: 2px;
}

.qr > svg {
  flex: 1 0 auto;
}

.title {
  @include subtitle-3;
  margin: 0 0 4px;
}

.text {
  @include body-5;
}
