@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.button {
  @include subtitle-3;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  color: $gray-blue-600;
  text-align: start;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $iris-500;
    outline: none;
  }

  &-gray {
    background-color: $gray-blue-50;
  }

  &-light {
    background-color: $neutral-0;
  }
}
