@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.wrapper {
  position: fixed;
  z-index: $zindex-modal;
  width: 100%;
  height: 100%;
  outline: 0;
}

.preloader {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.preloader__inner {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('/images/preloader/background-preload.svg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: pulsing  2000ms ease-in-out infinite both;
}

.preloader__img {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('/images/preloader/img-preload.svg');
}

@keyframes pulsing {
  43% {
    transform: scale(1.33) rotate(90deg);
  }

  57% {
    transform: scale(1.33) rotate(90deg);
  }

  100% {
    transform: scale(1) rotate(180deg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: $overlay;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: visibility, opacity;

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}
