@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;

  &-1 {
    color: $iris-300;
    background-color: $iris-900;
  }

  &-2 {
    color: $orange-70;
    background-color: $orange-a500;
  }

  &-3 {
    color: $pink-50;
    background-color: $pink-300;
  }

  &-4 {
    color: $green-50;
    background-color: $green-500;
  }

  &-default {
    background-color: $iris-900;
  }

  &__empty {
    @include headline-4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 31px;
  }

  &__icon {
    &-defalut {
      width: 30px;
      height: 28px;
    }
  }
}
