@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 20px;

  &__user {
    @include body-5;
    display: flex;
    gap: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-blue-50;

    @include bp-743 {
      margin-bottom: 0;
    }

    @include bp-479 {
      margin-bottom: 10px;
    }

    &-photo {
      position: relative;
      display: flex;
      align-items: center;
      width: 70px;
      height: 40px;
    }

    &-name {
      align-self: center;
      overflow: hidden;
      color: $gray-blue-300;
      text-overflow: ellipsis;
      white-space: normal;

      @include bp-479 {
        width: min-content;
      }
    }
  }

  &__apartment {
    @include body-5;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include bp-743 {
      margin-bottom: 0;
    }

    @include bp-479 {
      margin-bottom: 10px;
    }

    &-address {
      color: $neutral-900;
    }

    &-date {
      color: $gray-blue-300;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

    @include bp-743 {
      gap: 10px;
      margin-bottom: 0;
    }

    &-title {
      @include headline-5;
      display: flex;
      gap: 20px;
    }

    &-box {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 80px;

      @include bp-743 {
        gap: 10px 0;
      }

      @include bp-479 {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }

    &-item {

      @include bp-743 {
        text-align: end;
      }

      @include bp-479 {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  &__text {
    @include body-4;

    @include bp-743 {
      width: 100%;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &-item {
      display: flex;
      gap: 2px;
    }

    &-arrow {
      width: 16px;
      height: 16px;
    }
  }
}

.avatar {
  &__first {
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    border: 1px solid $neutral-0;
  }

  &__second {
    position: absolute;
    left: 30px;
    z-index: 1;
  }
}
