@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.wrapper {
  padding: 10px 20px 30px;
}

.call {
  margin: 0 0 20px;
}

.apartment-prewiew {
  display: flex;
  width: 100%;
  min-height: 110px;

  &__image {
    position: relative;
    width: 140px;
    margin-right: 10px;
  }

  &__info {
    @include subtitle-2;
    width: 60%;
  }
}

.info {
  &__details {
    @include subtitle-3;
    margin: 4px 0;
    word-wrap: break-word;
  }

  &__adress {
    @include body-6;
    color: $gray-blue-300;
  }

  &__metro-distanse {
    color: $gray-blue-300;
  }

  &__metro-subway {

    @include body-6;
    color: $gray-blue-500;
  }
}
