@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.list {
  margin-bottom: 60px;

  @include bp-1279 {
    margin: 0 0 20px;
  }

  @include bp-1023 {
    margin-bottom: 16px;
  }
}

.item {
  @include body-5;
  margin-bottom: 4px;
  color: $gray-blue-400;

  @include bp-1279 {
    margin-bottom: 0;
  }

  @include bp-1023 {
    @include body-6;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
