@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.wrapper {
  min-height: 320px;
  background-color: $neutral-0;
  border-radius: 20px;
}
