@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.styled-select {
  @include body-5;
  color: $neutral-900;

  [class^='styled-select__control'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
  }

  [class^='styled-select__value-container'] {
    padding: 0;
  }

  .styled-select__indicators [class^='styled-select__indicator'] {
    padding: 8px 4px;
  }

  [class^='styled-select__menu'] {
    z-index: $zindex-dropdown;
    margin: 4px 0 0;
    border-radius: 0 0 8px 8px;
    box-shadow: $soft-003;
  }

  [class^='styled-select__menu-list'] {
    padding: 10px 4px;
  }

  [class^='styled-select__single-value'] {
    color: $neutral-900;
  }

  [class^='styled-select__indicator-separator'],
  [class^='styled-select__clear-indicator'] {
    display: none;
  }

  [class^='styled-select__option'] {
    padding: 11px 16px;
    cursor: pointer;
  }

  [class^='styled-select__option']:active,
  [class*='styled-select__option--is-focused'] {
    background-color: $gray-blue-50;
  }

  [class*='styled-select__option--is-selected'] {
    position: relative;
    color: $neutral-900;
    background-color: $gray-blue-50;

    &::before {
      position: absolute;
      top: 15px;
      right: 13px;
      display: block;
      width: 6px;
      height: 6px;
      content: '';
      background-color: $gray-blue-600;
      border-radius: 10px;
    }
  }
}

.without-stroke {
  [class^='styled-select__control'] {
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0;

    &:hover {
      border-bottom: 1px solid $iris-300;
    }
  }

  [class*='styled-select__control--is-focused'] {
    border-bottom: 1px solid $iris-300;
  }
}

.stroke {
  [class^='styled-select__control'] {
    border: 1px solid $gray-blue-100;
    border-radius: 4px;

    &:hover {
      border: 1px solid $iris-300;
    }
  }

  [class*='styled-select__control--is-focused'] {
    border: 1px solid $iris-300;
  }
}
