@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.breadcrumbs {
  @include body-4;
  display: flex;
  gap: 0 4px;
  align-items: center;
  color: $gray-blue-500;

  &_link {
    display: inline-flex;
    align-items: center;

    &:focus,
    &:hover {
      color: $iris-500;
    }

    &:active {
      color: $iris-700;
    }
  }

  &__icon {
    padding: 4px 9px 4px 8px;
    stroke: $gray-blue-500;
  }

  &_link:focus &__icon,
  &_link:hover &__icon {
    stroke: $iris-500;
  }

  &_link:active &__icon {
    stroke: $iris-700;
  }

  .label,
  .slash {
    @include bp-743 {
      display: none;
    }
  }

  &__current {
    color: $gray-blue-200;

    @include bp-743 {
      display: none;
    }
  }
}
