@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 60px 0 100px;
}

.error__title {
  @include headline-4;
  margin-bottom: 40px;
  color: $gray-blue-600;
  @include bp-743 {
    @include headline-5;
  }
}

.error__description {
  @include body-3;
  margin-bottom: 40px;
  color: $gray-blue-600;
  text-align: center;
  @include bp-743 {
    @include body-4;
  }
  @include bp-479 {
    width: 238px;
  }

  &_str1 {
    width: 354px;
    @include bp-479 {
      width: 238px;
    }
  }

  &_str2 {
    width: 380px;
    @include bp-479 {
      width: 238px;
    }
  }
}
