@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.box {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;

  &__toolbar {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    width: 100%;
  }
}

.chip {
  @include body-5;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  background-color: $neutral-05;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  transition: background-color 0.3s;

  &__label {
    flex-grow: 1;
  }

  &:hover,
  &:focus {
    background-color: $gray-blue-50;
  }

  &__icon-close {
    width: 30px;
    height: 30px;
  }
}
