@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/_breakpoints' as *;
@use 'src/app/styles/core/_typography' as *;

.modal {
  padding: 20px 20px 106px;

  @include bp-743 {
    padding: 0 16px 60px;
  }
}

.modal__footer {
  box-shadow: none;

  @include bp-743 {
    box-shadow: $soft-001;
  }
}

.apartment-prewiew {
  display: flex;
  width: 100%;
  min-height: 110px;

  @include bp-479 {
    object-fit: fill;
    display: block;
  }

  &__image {
    position: relative;
    width: 40%;
    margin-right: 10px;

    @include bp-479 {
      width: 100%;
      height: 120px;
      margin-bottom: 10px;
    }
  }

  &__info {

    @include subtitle-2;
    width: 60%;
    color: $gray-blue-600;
    @include bp-743 {
      width: 55%;
    }
    @include bp-479 {
      width: 100%;
    }
  }
}

.info {
  &__details {

    @include subtitle-3;
    margin: 4px 0;
    word-wrap: break-word;
  }

  &__adress {
    @include body-6;
    color: $gray-blue-400;
  }

  &__metro--distanse {
    color: $gray-blue-300;

    @include bp-479 {
      margin: 3px;
    }
  }

  &__metro--subway {

    @include body-6;
    color: $gray-blue-500;

    @include bp-743 {
      margin: 0;
    }
  }
}

.switch-tg {
  margin: 30px 0 20px;
}

.inputs__field {
  display: flex;
  column-gap: 10px;
  margin-bottom: 30px;

  @include bp-743 {
    display: block;
  }

  .columns {
    width: 50%;

    @include bp-743 {
      width: 100%;
    }

    .first__input {
      margin-bottom: 10px;
    }

    .textarea {
      flex-grow: 1;
      resize: none;

      @include bp-743 {
        padding-bottom: 62px;
      }

      @include bp-479 {
        padding-bottom: 36px;
      }
    }

    .textarea__field {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.chips__title {

  @include body-4;
  margin-bottom: 10px;
  color: $neutral-900;
}

.additionally__chip-box {
  margin-bottom: 10px;
}

.checkbox {

  @include body-5;
  display: flex;
  align-items: center;
  margin-top: 44px;
  color: $neutral-900;

  @include bp-743 {
    align-items: start;
  }

  @include bp-743 {
    margin: 40px 0 10px;
  }

  .checkbox__text {
    align-items: center;

    .link-general {
      display: inline;
      margin-left: 5px;
      text-decoration: underline;
    }
  }

  &__input {
    width: 16px;
    height: 16px;
    margin-right: 10px;

    @include bp-743 {
      margin-top: 5px;
    }
  }
}

.submit-button {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: $soft-002;

  @include bp-743 {
    height: 40px;
    margin-bottom: 0;
    box-shadow: none;
  }
}
