@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.input {
  @include body-5;
  display: flex;
  width: 100%;
  height: 46px;
  background-color: $neutral-0;
  border: 1px solid $gray-blue-100;
  border-radius: 4px;

  input::placeholder {
    color: $gray-blue-300;
  }

  &:hover,
  &:focus-within {
    border: 1px solid $iris-300;

    .input__filed::placeholder {
      color: $neutral-900;
    }
  }

  &__search-icon {
    display: flex;
    margin-right: 7px;
    stroke: $gray-blue-300;
  }

  &__close {
    display: flex;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    outline: inherit;

    &:focus {
      .input__close-icon {
        stroke: $iris-300;
      }
    }

    &-icon {
      width: 32px;
      height: 32px;
      stroke: $gray-blue-600;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 94px;
    height: 100%;
    padding: 10px 8px;
  }

  &__filed {
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    caret-color: $iris-500;
  }
}
