@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.list {
  margin: 0 0 40px;

  @include bp-1279 {
    margin: 0 0 20px;
  }

  @include bp-1023 {
    margin: 0 0 16px;
  }

  @include bp-743 {
    display: flex;
    gap: 10px;
  }

  @include bp-479 {
    display: block;
  }
}

.item {
  @include body-4;
  margin-bottom: 4px;
  white-space: nowrap;

  @include bp-1023 {
    @include body-5;
    margin-bottom: 2px;
  }

  @include bp-479 {
    margin-right: 10px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include bp-320 {
    margin-right: 0;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
