@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 236px;

  @include bp-743 {
    width: 360px;
  }

  @include bp-479 {
    width: 288px;
  }
}

.list {
  display: inline-flex;
}

.item {
  display: inline-flex;
}

.editable {
  display: inline-flex;
  height: auto;
  cursor: pointer;
}

.filled .icon {
  fill: $iris-400;
}

.icon {
  outline: 0;
  stroke: $iris-500;

  &_margin {
    margin: 0 10px 0 0;

    @include bp-743 {
      margin: 0 20px 0 0;
    }

    @include bp-479 {
      margin: 0 23px 0 0;
    }
  }
}

.text {
  @include body-2;
}
