@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.label {
  @include body-5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;

  @include bp-743 {
    width: 360px;
  }

  @include bp-479 {
    width: 280px;
  }
}

.range {
  width: 200px;
  background-color: $iris-50;
}

.rating {
  height: 4px;
  background-color: $iris-500;
}

.text {
  @include body-5;
  min-width: 24px;
}
