@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/typography' as *;

.wrapper {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;

  &_background {
    background-color: $neutral-0;
    border-radius: 8px;
  }
}

.icon {
  width: 16px;
  height: 16px;
  fill: $iris-400;
  stroke: $iris-400;
}

.text {
  @include btn-4;
}
