@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/typography' as *;

.label {
  @include body-5;
  color: $gray-blue-400;
}

.input__wrapper {
  display: flex;
  flex-grow: 1;
}

.input {
  @include body-5;
  width: 100%;
  padding: 11px 10px;
  color: $neutral-900;
  background-color: $neutral-0;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  caret-color: $iris-500;

  &:hover,
  &:focus {
    border: 1px solid $iris-300;
  }

  &::placeholder {
    color: $gray-blue-400;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.input-filled {
  background-color: $gray-blue-50;
}

.input-stroke {
  border: 1px solid $gray-blue-100;
}

.error-input {
  border: 1px solid $pink-a700;
}

.error-text {
  @include body-6;
  color: $pink-a700;
}
