@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.form {
  display: flex;
  justify-content: space-between;
  max-width: 1196px;
  padding: 60px 100px;
  margin: 0 auto;
  background: linear-gradient(96.74deg, #dde3ff 3.29%, #c2c2ff 98.5%);
  border-radius: 30px;

  @include bp-1279 {
    max-width: 984px;
    padding: 60px 40px 60px 50px;
  }

  @include bp-1023 {
    flex-direction: column;
    gap: 80px;
    align-items: center;
    width: 100%;
    max-width: inherit;
    padding: 80px 127px 80px 87px;
    margin: 0;
    border-radius: 0;
  }

  @include bp-743 {
    gap: 40px;
    padding: 60px 20px;
  }

  @include bp-479 {
    padding: 40px 10px;
  }

  &__callback {
    width: 530px;
    padding: 40px 40px 30px;
    box-shadow: $soft-004;

    @include bp-743 {
      width: 440px;
      padding: 40px 16px 30px;
    }

    @include bp-479 {
      width: 300px;
      padding: 40px 17px 30px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 330px;

  @include bp-1023 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 530px;
  }

  @include bp-743 {
    width: 440px;
  }

  @include bp-479 {
    width: 288px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include bp-1023 {
      width: 328px;
    }

    @include bp-743 {
      width: 250px;
    }

    @include bp-479 {
      width: 190px;
    }

    &-header {
      @include headline-3;
      width: 290px;

      @include bp-743 {
        @include headline-4;
        width: 190px;
      }

      @include bp-479 {
        @include headline-5;
        width: 145px;
      }
    }

    &-description {
      @include subtitle-1;

      @include bp-743 {
        @include subtitle-2;
      }

      @include bp-479 {
        @include subtitle-3;
      }
    }
  }

  &__image {
    position: relative;
    width: 250px;
    height: 190px;
    margin-top: 30px;

    @include bp-1023 {
      width: 175px;
      height: 133px;
      margin: 0;
    }

    @include bp-479 {
      width: 100px;
      height: 76px;
    }
  }
}
