@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.uploader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 20px;

  @include bp-743 {
    gap: 30px;
  }

  @include bp-479 {
    padding: 20px 16px;
  }

  &__head {
    @include headline-5;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-blue-50;

    &-title {
      display: flex;
      gap: 20px;
    }
  }

  &__zone {
    display: flex;
    flex-direction: column;
    gap: 166px;
    align-items: center;
    height: 326px;
    padding: 50px 0;
    background-color: $neutral-05;
    border: 1px dashed $gray-blue-100;
    border-radius: 4px;

    &-filled {
      flex-direction: row;
      gap: 80px;
      height: fit-content;
      padding: 10px;
    }

    &-text {
      @include body-4;
      position: relative;
      color: $iris-400;
    }

    &-button {
      display: flex;
      gap: 4px;
      width: 180px;

      @include bp-743 {
        width: 100%;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &-item {
      width: 180px;

      @include bp-743 {
        width: 100%;
      }
    }
  }

  &__icon {
    position: absolute;
    margin-left: 10px;
    fill: $iris-400;
    stroke: none;
  }
}
