@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.label {
  @include body-5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp-743 {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.star {
  @include bp-479 {
    width: 100%;
  }
}
