@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/_breakpoints' as *;
@use 'src/app/styles/core/_typography' as *;

.modal {
  width: 1280px;
  height: 716px;
  border-radius: 0;

  @include bp-1279 {
    width: 100vw;
    min-height: 100vh;
  }

  &__title {

    @include subtitle-3;
    color: $gray-blue-600;
  }
}

.modal__body {
  display: flex;
  width: 100%;

  @include bp-1279 {
    justify-content: center;
    padding: 20px 0;
  }

  @include bp-479 {
    padding: 0;
    margin-top: 10px;
  }

  &--content {
    display: flex;
    padding: 0 40px;
    margin-top: 20px;

    @include bp-1279 {
      display: block;
      width: 830px;
      padding: 0;
    }

    @include bp-1023 {
      width: 704px;
      height: 100%;
    }

    @include bp-743 {
      width: 480px;
      padding: 0;
      margin-top: 0;
    }

    @include bp-479 {
      width: calc(100% - 32px);
    }
  }
}

.apartment-prewiew {
  width: 288px;
  padding: 20px;
  margin-left: 16px;
  background-color: rgba($neutral-900, 0.3);
  border-radius: 15px;

  @include bp-1279 {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }
  @include bp-1023 {
    margin-top: 30px;
  }

  @include bp-743 {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    margin-top: 14px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include bp-479 {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    @include bp-1279 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    @include bp-743 {
      display: block;
      width: 480px;
    }
  }

  &__info {

    @include bp-743 {
      display: flex;
    }

    @include bp-479 {
      display: block;
    }
  }

  &__footer {
    display: flex;
    margin-top: 20px;

    @include bp-1279 {
      align-items: center;
      margin-top: 0;
    }
  }
}

.info {
  &__price {

    @include headline-5;
    margin-bottom: 10px;
    color: $neutral-0;

    @include bp-1279 {

      @include subtitle-2;
      margin-bottom: 0;
    }
    @include bp-743 {

      @include subtitle-4;
      margin-right: 20px;
    }
  }

  &__details {
    @include subtitle-1;
    color: $iris-100;

    @include bp-1279 {

      @include subtitle-3;
      display: flex;
    }

    @include bp-743 {

      @include subtitle-4;
    }

    &--item:first-child {
      color: $iris-300;
    }

    &--item:not(:last-child) {
      margin-bottom: 4px;

      @include bp-1279 {
        margin-right: 10px;
      }
    }
  }
}

.favourite {
  margin: 4px 0 4px 10px;
  background-color: $neutral-0;
}

.btn-general {
  padding: 12px;

  @include bp-743 {
    width: 100%;
  }
}

.gallery {
  position: relative;
  z-index: 1;
  width: 900px;

  @include bp-1279 {
    width: 830px;
    height: 560px;
  }

  @include bp-1023 {
    width: 100%;
    height: 740px;
  }

  @include bp-743 {
    height: 230px;
  }

  @include bp-479 {
    height: 100%;
  }
}
