@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px;
  margin: 0 0 40px;
  border-bottom: 1px solid $gray-blue-50;

  @include bp-479 {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    margin: 0 0 10px;
  }
}

.heading {
  @include headline-4;
}

.total-rating {
  @include body-5;
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;

  @include bp-1279 {
    gap: 40px 26px;
  }

  @include bp-743 {
    gap: 30px 0;
  }

  @include bp-479 {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px 0;
  }

  &__item {
    @include bp-743 {
      width: 380px;
      text-align: end;
    }

    @include bp-479 {
      width: 100%;
      margin-right: 0;
    }
  }
}
