@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.header {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
  width: 100%;
  background-color: $neutral-0;
  box-shadow: 0 1px 0 $overlay;
  transition: transform 0.2s ease-in-out;

  &__inner {
    height: 60px;
    padding: 0;
    margin: 0 auto;

    @include bp-743 {
      height: 40px;
    }

    @include bp-479 {
      padding: 0 16px;
    }
  }

  &__logo {
    margin-right: 120px;
  }

  &__list {
    margin-right: 80px;

    @include bp-1023 {
      display: none;
    }
  }

  &__item {
    padding: 10px 10px 0;
  }

  &__link {
    position: relative;
    display: block;
    padding-bottom: 2px;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      margin: auto;
      color: transparent;
      content: '.';
      background: $iris-500;
      transition: width 500ms ease-in;
    }

    &:focus::after,
    &:hover::after {
      width: 100%;
    }

    &:focus,
    &:hover {
      color: $gray-blue-500;
    }

    &:active {
      color: $iris-500;
    }
  }

  &__phone-btn {
    padding: 11px 28px;
    margin-left: auto;
    white-space: nowrap;

    @include bp-1279 {
      padding: 11px 12px;
    }

    @include bp-1023 {
      display: none;
    }
  }

  &__btn-open {
    display: none;
    margin-left: auto;
    background: inherit;
    border: 0;

    @include bp-1023 {
      display: block;
    }
  }
}

.sticky {
  transform: translateY(-90px);

  @include bp-1279 {
    transform: translateY(-40px);
  }
}
