@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.container {
  width: 438px;
  max-height: 100%;
  padding: 20px 30px 60px;
  background: $neutral-0;
  border-radius: 2px;

  @include bp-1279 {
    width: 404px;
    min-height: 450px;
    padding: 20px 20px 32px;
  }

  @include bp-1023 {
    width: 347px;
    min-height: 366px;
    padding: 10px 20px 20px;
  }

  @include bp-743 {
    width: 440px;
    min-height: unset;
    margin: 0 0 40px;
  }

  @include bp-479 {
    width: 100%;
    padding: 20px 20px 30px;
  }
}

.action {
  margin: 0 0 20px;

  @include bp-1023 {
    margin: 0 0 10px;
  }

  @include bp-479 {
    margin: 0 0 20px;
  }

  &__btn {
    gap: 4px;
    padding: 0 8px;
  }

  &__inner {
    gap: 10px;
  }
}

.address {
  margin: 0 0 40px;

  @include bp-1279 {
    margin: 0 0 20px;
  }

  @include bp-1023 {
    margin: 0 0 16px;
  }

  &__title {
    @include subtitle-1;
    margin: 0 0 14px;

    @include bp-1279 {
      @include subtitle-2;
    }

    @include bp-1023 {
      @include subtitle-3;
      margin: 0 0 4px;
    }
  }

  &__metro {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;

    @include bp-743 {
      gap: 5px 0;
    }
  }
}

.price {
  @include headline-5;
  margin-bottom: 10px;

  @include bp-1279 {
    @include subtitle-1;
    margin: 0 0 4px;
  }

  @include bp-1023 {
    @include subtitle-1;
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;

  @include bp-743 {
    margin-bottom: 0;
  }

  @include bp-479 {
    flex-direction: column;
  }

  .btn {
    padding: 12px;
    white-space: nowrap;

    @include bp-743 {
      padding: 11px;
    }

    @include bp-479 {
      width: 100%;
      padding: 12px;
    }

    &_first {
      max-width: 44px;
      margin: 0 10px 0 0;

      @include bp-479 {
        max-width: unset;
        margin: 0 0 10px;
      }
    }

    &_last {
      flex-grow: 1;

      @include bp-479 {
        flex-grow: unset;
      }
    }
  }
}

.icon-call {
  fill: none;
  stroke: $gray-blue-600;

  @include bp-1023 {
    width: 16px;
    height: 16px;
  }

  @include bp-743 {
    width: 22px;
    height: 22px;
  }
}
