@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.filter {
  position: sticky;
  top: -160px;
  z-index: $zindex-sticky;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 130px;
  background-color: $neutral-0;
  box-shadow: 0 10px 20px $overlay;
  transition: transform 0.3s ease-in-out;

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0;

    @include bp-1279 {
      padding: 5px 0;
    }
    @include bp-1023 {
      display: block;
      width: 100%;
    }
    @include bp-479 {
      padding: 5px 16px;
    }
  }
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    margin: 0 216px 0 0;

    @include bp-1279 {
      margin-right: 12px;
    }
  }

  &:last-child {
    @include bp-1023 {
      width: 100%;
    }
  }

  &__item {
    margin-right: 10px;

    @include bp-1023 {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.other {
  display: flex;
  gap: 0 10px;
  margin: 0 10px 0 0;

  @include bp-1023 {
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    margin-right: 10px;
  }
}

.double,
.chip-box {
  background-color: $gray-blue-50;
}

.button-map {
  padding: 8px;

  &__text {
    white-space: nowrap;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.select {
  order: 1;
  width: 200px;

  @include bp-1023 {
    width: unset;
    min-width: 178px;
  }
}

.button-filters {
  order: 3;

  @include bp-743 {
    order: 2;
  }
}

.button-reset {
  @include body-6;
  order: 2;
  padding: 13px 8px;

  @include bp-1023 {
    display: none;
  }
}

.button-search {
  display: none;
}

.sticky {
  transform: translateY(90px);

  @include bp-1279 {
    transform: translateY(80px);
  }
}
