@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.filter {
  max-width: 880px;
  height: 130px;
  margin: 0 auto;
  background-color: $neutral-0;
  border-radius: 20px;
  box-shadow: $soft-003;

  @include bp-1023 {
    max-width: 705px;
  }
  @include bp-743 {
    max-width: 440px;
  }
  @include bp-743 {
    height: 50px;
    border-radius: 8px;
  }

  @include bp-479 {
    max-width: calc(100% - 32px);
  }

  &__container {
    padding: 20px;

    @include bp-743 {
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }
  }
}

.double,
.chip-box {
  background-color: $gray-blue-50;
}

.button-map {
  padding: 11px 44.5px;

  @include bp-1023 {
    padding: 8px;
  }

  &__text {
    margin-right: 10px;
    white-space: nowrap;

    @include bp-1023 {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;

    @include bp-1023 {
      width: 24px;
      height: 24px;
    }
  }
}

.select {
  width: 200px;

  @include bp-743 {
    order: 1;
  }

  @include bp-479 {
    width: unset;
    min-width: 178px;
  }
}

.button-filters {
  @include bp-743 {
    order: 2;
  }
}

.button-reset {
  padding: 13px 8px;

  @include bp-1023 {
    @include body-6;
  }

  @include bp-743 {
    display: none;
  }
}

.button-search {
  width: 244px;

  @include bp-1023 {
    padding: 11px 21px;
  }
  @include bp-743 {
    display: none;
  }
}

.fieldset {
  display: flex;
  justify-content: space-between;

  &:first-child {
    @include bp-743 {
      order: 2;
    }
  }

  &:last-child {
    margin-top: 10px;

    @include bp-743 {
      width: 100%;
      margin-top: 0;
    }
  }

  &__item {
    margin-right: 10px;

    @include bp-743 {
      display: none;
    }
  }
}

.other {
  display: flex;
  gap: 0 10px;

  @include bp-743 {
    gap: 0;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px 0 0;
  }
}

.sticky {
  visibility: hidden;
}
