@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.button {
  @include body-5;
  width: 100%;
  padding: 10px;
  text-align: start;
  cursor: pointer;
  background-color: $neutral-0;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover,
  &:focus,
  &-active {
    border-bottom: 1px solid $iris-300;
    outline: none;
  }

  &-filled {
    background-color: $gray-blue-50;
  }
}
