@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.selector {
  @include body-5;
  position: relative;

  &__header {
    display: flex;
    cursor: pointer;
  }

  &__body {
    position: absolute;
    top: 52px;
    z-index: $zindex-dropdown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2px;
    background-color: $neutral-0;
    border-radius: 8px;
    box-shadow: $soft-003;
  }
}

.list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 220px;
    padding: 8px 10px;

    &-control {
      display: flex;
      gap: 23px;
      align-items: center;
    }
  }
}

.counter {
  width: 10px;
  text-align: center;

  &-disabled {
    color: $gray-blue-200;
  }
}

.kids {
  margin-left: 8px;

  &-default {
    color: $gray-blue-300;
  }
}
