@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px 20px 30px;
}

.title {
  @include subtitle-2;
}

.messengers {
  display: flex;
  gap: 30px;
}

.text-wrapper {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $gray-blue-50;
  }
}

.text {
  @include body-5;
  width: max-content;
  padding: 0 8px;
  margin: 0 auto;
  background-color: $neutral-0;
}

.link {
  @include body-5;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: $gray-blue-50;
  border-radius: 4px;

  &__text {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include bp-479 {
      width: 74%;
    }
  }
}

.copy {
  @include body-5;
}
