@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.card {
  &__image {
    position: relative;
    flex: 0 0 auto;
    width: 260px;
    height: 147px;

    @include bp-743 {
      width: 200px;
      height: 115px;
    }

    @include bp-479 {
      width: 260px;
      height: 147px;
    }
  }

  &__metro-wrapper {
    @include bp-743 {
      display: none;
    }

    @include bp-479 {
      display: block;
    }
  }

  &__subway {
    @include body-6;
  }
}
