@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.collection {
  position: relative;
  min-height: 500px;
  padding: 40px 0 70px 20px;
  overflow: hidden;
  background-color: $gray-blue-50;

  @include bp-1279 {
    min-height: 460px;
  }

  @include bp-1023 {
    min-height: 440px;
  }

  @include bp-743 {
    min-height: 340px;
    padding: 30px 0;
  }

  @include bp-479 {
    min-height: 390px;
    padding: 20px 0 50px;
  }

  &__wrapper {
    position: absolute;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);

    @include bp-1279 {
      left: 20px;
      transform: translateX(0);
    }
  }

  &__title {
    @include headline-3;
    margin-bottom: 40px;

    @include bp-1023 {
      @include headline-4;
      margin-bottom: 30px;
    }

    @include bp-479 {
      @include headline-5;
    }
  }

  &__button-next,
  &__button-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    transform: translateY(-50%);

    @include bp-1279 {
      display: none;
    }
  }

  &__button-next {
    right: -62px;
  }

  &__button-prev {
    left: -62px;
  }

  &__slider {
    width: 1070px;
    min-height: 500px;

    @include bp-1279 {
      width: calc(100vw - 20px);
      min-height: auto;
    }

    .swiper-wrapper {
      height: auto;
    }
  }

  &__slide {
    width: 260px;
    height: auto;

    @include bp-743 {
      width: 200px;
    }

    @include bp-479 {
      width: 260px;
    }

    &:last-child {
      margin: 0 20px 0 0;

      @include bp-479 {
        margin: 0 16px 0 0;
      }
    }
  }
}
