@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  @include body-5;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: 0;

  @include bp-1023 {
    flex-direction: column;
  }

  @include bp-743 {
    flex-direction: row;
  }

  @include bp-479 {
    flex-direction: column;
  }

  &:hover,
  &:focus {
    color: inherit;
    border: 1px solid $iris-400;
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 38px 16px 10px;
    background-color: $neutral-0;

    @include bp-1023 {
      padding: 20px 10px 26px;
    }

    @include bp-743 {
      padding: 16px 16px 10px;
    }

    @include bp-479 {
      padding: 20px 10px 26px;
    }
  }

  &__price-wrapper {
    margin: 0 0 20px;

    @include bp-1023 {
      margin: 0 0 10px;
    }

    @include bp-743 {
      margin: 0 0 8px;
    }

    @include bp-479 {
      margin: 0 0 10px;
    }
  }

  &__price {
    @include subtitle-2;
  }

  &__deposit {
    @include body-6;
    color: $gray-blue-500;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 96px;

    @include bp-1023 {
      min-height: 80px;
    }
  }

  &__location-wrapper {
    margin: 0 0 10px;
  }

  &__location {
    display: (-webkit-box);
    margin: 0 0 2px;
    overflow: hidden;
    color: $gray-blue-400;
    text-overflow: ellipsis;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__details {
    @include subtitle-2;

    @include bp-1023 {
      @include subtitle-3;
    }
  }

  &__favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    padding: 6px 0;
  }
}

.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
