@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  @include body-5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: 0;

  @include bp-743 {
    width: 200px;
  }

  @include bp-479 {
    width: 260px;
  }

  @include hover-supported {
    &:hover,
    &:focus {
      color: inherit;
      border: 1px solid $iris-400;
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 10px 10px 11px;
    background-color: $neutral-0;

    @include bp-743 {
      min-height: 60px;
    }
  }

  &__price-wrapper {
    margin: 0 0 8px;
  }

  &__price {
    @include subtitle-3;
  }

  &__deposit {
    @include body-6;
    margin-bottom: 4px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 79px;

    @include bp-1023 {
      min-height: 80px;
    }

    @include bp-743 {
      min-height: 60px;
    }

    @include bp-479 {
      min-height: 80px;
    }
  }

  &__location-wrapper {
    margin: 0 0 8px;
  }

  &__location {
    display: (-webkit-box);
    margin: 0 0 2px;
    overflow: hidden;
    color: $gray-blue-400;
    text-overflow: ellipsis;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    @include bp-743 {
      order: 2;
    }

    @include bp-479 {
      order: unset;
    }
  }

  &__details {
    @include subtitle-3;

    @include bp-743 {
      order: 1;
    }

    @include bp-479 {
      order: unset;
    }
  }

  &__favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    padding: 6px 0;
  }
}

.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
