@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100vh;
  background: $overlay;

  &__inner {
    width: 320px;
    height: 100vh;
    margin-left: auto;
    background-color: $neutral-0;
    border: 0;
    border-radius: 0;
  }

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background: inherit;
  }

  &__nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  &__item {
    padding: 10px 10px 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__auth-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  &__auth-item {
    span {
      margin-left: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__phone-btn {
    @include body-4;
    padding: 12px 34px;
  }

  &__socials {
    margin-bottom: 30px;
  }

  &__social-item:not(:last-child) {
    margin-right: 30px;
  }

  &__icon-telegram {
    fill: $blue-400;
  }

  &__icon-whatsapp {
    fill: $green-a400;
  }

  &__icon-vk {
    fill: $blue-500;
  }
}
