@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.filter {
  position: sticky;
  top: -160px;
  z-index: $zindex-sticky;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 130px;
  background-color: $neutral-0;
  box-shadow: 0 10px 20px $overlay;
  transition: transform 0.3s ease-in-out;

  &__container {
    display: grid;
    grid-template-areas: 'button-date select-guests . select button-reset button-filters button-map';
    grid-template-columns: 280px 220px 280px 200px 80px 40px 40px;
    gap: 10px;
    padding: 10px 0;

    @include bp-1279 {
      grid-template-columns: 280px 220px 64px 200px 80px 40px 40px;
      padding: 5px 0;
    }

    @include bp-1023 {
      grid-template-areas: 'button-date . button-reset button-filters button-map';
      grid-template-columns: 280px 224px 80px 40px 40px;
    }

    @include bp-743 {
      grid-template-areas: 'button-date . button-filters button-map';
      grid-template-columns: 280px 50px 40px 40px;
    }

    @include bp-479 {
      grid-template-areas: 'button-date button-filters button-map';
      grid-template-columns: 1fr auto auto;
      gap: 4px;
      width: calc(100% - 32px);
    }
  }
}

.button-date {
  grid-area: button-date;

  @include bp-479 {
    max-width: 192px;
  }
}

.select-guests {
  grid-area: select-guests;

  @include bp-1023 {
    display: none;
  }
}

.button-map {
  grid-area: button-map;

  @include bp-479 {
    width: 40px;
  }

  &__text {
    display: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.button-filters {
  grid-area: button-filters;
}

.select {
  grid-area: select;

  @include bp-1023 {
    display: none;
  }
}

.button-reset {
  grid-area: button-reset;

  @include bp-743 {
    display: none;
  }
}

.button-search {
  display: none;
}

.sticky {
  transform: translateY(90px);

  @include bp-1279 {
    transform: translateY(80px);
  }
}
