@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.filter {
  max-width: 880px;
  height: 130px;
  margin: 0 auto;
  background-color: $neutral-0;
  border-radius: 20px;
  box-shadow: $soft-003;

  @include bp-1023 {
    max-width: 705px;
  }
  @include bp-743 {
    max-width: 440px;
  }
  @include bp-743 {
    height: 50px;
    border-radius: 8px;
  }

  @include bp-479 {
    max-width: calc(100% - 32px);
  }

  &__container {
    display: grid;
    grid-template-areas:
      'button-date button-date button-date select-guests select-guests . . button-map'
      'button-filters select button-reset button-reset . . button-search button-search';
    grid-template-columns: 40px 200px 20px 50px 160px 30px 90px 180px;
    gap: 10px;
    padding: 20px;

    @include bp-1023 {
      grid-template-areas:
        'button-date button-date select-guests select-guests . button-filters button-map'
        'select button-reset . button-search button-search button-search button-search';
      grid-template-columns: 200px 74px 120px 90px 40px 40px 40px;
    }

    @include bp-743 {
      grid-template-areas: 'button-date . button-filters button-map';
      grid-template-columns: 192px 1fr 40px 40px;
      gap: 4px;
      padding: 5px 10px;
    }

    @include bp-479 {
      grid-template-areas: 'button-date button-filters button-map';
      grid-template-columns: 1fr auto auto;
    }
  }
}

.button-date {
  grid-area: button-date;

  @include bp-479 {
    max-width: 192px;
  }
}

.select-guests {
  grid-area: select-guests;

  @include bp-743 {
    display: none;
  }
}

.button-map {
  grid-area: button-map;

  @include bp-479 {
    width: 40px;
  }

  &__text {
    margin-right: 10px;
    white-space: nowrap;

    @include bp-1023 {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;

    @include bp-1023 {
      width: 24px;
      height: 24px;
    }
  }
}

.button-filters {
  grid-area: button-filters;
}

.select {
  grid-area: select;

  @include bp-743 {
    display: none;
  }
}

.button-reset {
  grid-area: button-reset;

  @include bp-743 {
    display: none;
  }
}

.button-search {
  grid-area: button-search;

  @include bp-743 {
    display: none;
  }
}

.sticky {
  visibility: hidden;
}
