@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.adress-info {
  @include body-5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
