@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.feedback {
  display: flex;
  flex-direction: column;
  margin: 60px 0 100px;

  @include bp-479 {
    margin: 60px 16px 100px;
  }

  &__title {
    @include headline-4;
    margin-bottom: 40px;
    @include bp-743 {
      margin-bottom: 20px;
    }
  }

  &__btn-prev {
    position: absolute;
    top: 50%;
    left: -60px;
    z-index: 2;
    transform: translateY(-50%);

    @include bp-1279 {
      left: -50px;
    }
  }

  &__btn-next {
    position: absolute;
    top: 50%;
    right: -60px;
    z-index: 2;
    transform: translateY(-50%);

    @include bp-1279 {
      right: -50px;
    }
  }

  &__btn-hidden {
    display: none;
  }

  &__pagination {
    top: 427px;
    height: fit-content;

    @include bp-743 {
      top: 335px;
    }

    @include bp-479 {
      top: 427px;
    }

    &-bullet {
      position: relative;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 2px;
      cursor: pointer;
      background-color: $gray-blue-300;
      border-radius: 50%;
      opacity: 1;
      transition: 200ms transform, 200ms left;

      &[class~='swiper-pagination-bullet-active'] {
        background-color: $gray-blue-600;
      }
    }
  }

  &__slider {
    position: relative;
    width: 1110px;
    margin: auto;
    @include bp-1279 {
      width: 894px;
    }

    @include bp-1023 {
      width: 636px;
      margin-bottom: 10px;
    }

    @include bp-743 {
      width: 440px;
    }

    @include bp-479 {
      width: 288px;
    }

    &-wrapper {
      position: static;
      height: 380px;

      @include bp-1279 {
        height: 440px;
      }

      @include bp-1023 {
        height: 430px;
      }

      @include bp-743 {
        width: auto;
        height: 338px;
      }

      @include bp-479 {
        height: 430px;
      }
    }

    &-large {
      @include bp-1023 {
        margin-bottom: 30px;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 60px;

    @include bp-479 {
      gap: 10px;
    }

    @include bp-1279 {
      margin-right: 50px;
    }

    @include bp-743 {
      justify-content: space-evenly;
      margin: 0;
    }

    &-item {
      padding: 12px;

      @include bp-743 {
        width: 212px;
      }

      @include bp-479 {
        width: 144px;
        padding: 9px 12px;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 340px;
  max-width: 340px;
  height: 340px;
  padding: 30px 20px 26px;
  margin: 0 auto;
  background-color: $neutral-0;
  border: 1px solid transparent;
  border-radius: 20px;

  @include bp-1279 {
    min-width: 288px;
    max-width: 288px;
    height: 400px;
    padding: 30px 20px 20px;
  }

  @include bp-743 {
    min-width: 440px;
    max-width: 440px;
    height: 308px;
    margin: 0 auto;
  }

  @include bp-479 {
    min-width: 288px;
    max-width: 288px;
    height: 400px;
    margin-right: 15px;
  }

  &:hover {
    border: 1px solid $iris-400;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid $gray-blue-50;
  }

  &__feedback {
    @include body-4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    &-text {
      // самый адекватный вариант многоточия для нескольких строк
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      flex-grow: 1;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;

      @include bp-1279 {
        margin-bottom: 0;
        -webkit-line-clamp: 10;
      }

      @include bp-743 {
        @include body-5;
        -webkit-line-clamp: 6;
      }

      @include bp-479 {
        @include body-4;
        -webkit-line-clamp: 10;
      }
    }

    &-button {
      width: 132px;
    }
  }
}

.info {
  &__user {
    @include body-5;
    display: flex;
    gap: 12px;

    &-photo {
      position: relative;
      display: flex;
      align-items: center;
      width: 70px;
      height: 40px;
    }

    &-name {
      align-self: center;
      width: min-content;
      overflow: hidden;
      color: $gray-blue-300;
      text-overflow: ellipsis;
      white-space: normal;

      @include bp-743 {
        flex-grow: 1;
      }
    }
  }

  &__apartment {
    @include body-5;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-address {
      max-width: 240px;
      color: $neutral-900;
      @include bp-1279 {
        max-width: 186px;
      }

      @include bp-743 {
        max-width: 100%;
      }

      @include bp-479 {
        max-width: 186px;
      }
    }

    &-date {
      color: $gray-blue-300;
    }
  }
}

.avatar {
  &__first {
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    border: 1px solid $neutral-0;
  }

  &__second {
    position: absolute;
    left: 30px;
    z-index: 1;
  }
}
