@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  @include hover-supported {
    &:hover .card__btn-hover,
    &:focus .card__btn-hover {
      display: flex;
    }
  }

  &__btn-hover {
    display: none;
  }
}
