@use 'src/app/styles/core/breakpoints' as *;

.banner {
  margin: 95px auto;

  @include bp-1023 {
    margin: 60px auto;
  }

  @include bp-743 {
    margin: 10px auto;
  }

  @include bp-479 {
    margin: 40px auto;
  }
}
