@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.breadcrumbs {
  margin: 20px auto;

  @include bp-1023 {
    margin: 10px auto;
  }

  @include bp-743 {
    margin: 4px auto;
  }

  @include bp-479 {
    margin: 4px 16px;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  @include bp-1279 {
    grid-gap: 16px;
  }

  @include bp-1023 {
    grid-gap: 24px;
  }

  @include bp-743 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  @include bp-479 {
    grid-gap: 20px;
    padding: 0 16px;
  }
}

.collections {
  margin: 80px 0;

  @include bp-1279 {
    margin: 60px 0;
  }

  @include bp-743 {
    margin: 30px 0 40px;
  }

  @include bp-479 {
    margin: 50px 0;
  }
}
