@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 20px 40px 40px;
  background-color: $neutral-0;
  border-radius: 20px;

  @include bp-743 {
    padding: 10px 15px 30px;
  }
  @include bp-479 {
    padding: 0 15px 30px;
  }

  &__switch {
    @include bp-479 {
      @include body-6;
    }
  }

  &__switch.static {
    margin-top: 10px;
    margin-bottom: 10px;

    @include bp-743 {
      margin-top: 20px;
    }

    @include bp-479 {
      margin: 0;
    }
  }

  &__checkbox {
    @include bp-743 {
      @include body-6;
      margin-top: 3px;
    }

    @include bp-479 {
      margin-top: 0;
    }

    &-label {
      @include bp-479 {
        @include body-6;
      }
    }

    &-link {
      display: inline;
      text-decoration: underline;
      @include bp-479 {
        @include body-6;
      }
    }
  }

  &__checkbox.static {
    margin-top: 3px;
    margin-bottom: 10px;

    @include bp-743 {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    @include bp-479 {
      margin-top: 6px;
      margin-bottom: 10px;
    }
  }

  &__button {
    @include bp-743 {
      margin-top: 3px;
    }

    @include bp-479 {
      margin-top: 10px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;

    &-title {
      @include headline-4;
      text-align: center;

      @include bp-743 {
        @include headline-5;
      }

      @include bp-479 {
        @include subtitle-2;
        margin-bottom: 2px;
      }
    }

    &-subtitle {
      @include body-5;
      max-width: 228px;
      text-align: center;
    }

    &-subtitle.static {
      @include body-3;
      max-width: inherit;

      @include bp-743 {
        @include body-4;
      }

      @include bp-479 {
        @include body-5;
        max-width: 232px;
      }
    }
  }

  &__info.static {
    gap: 0;

    @include bp-743 {
      gap: 10px;
    }

    @include bp-479 {
      gap: 2px;
    }
  }
}
