@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  outline: 0;
  transition-duration: 100ms;
  transition-property: color, background-color;
}

.round {
  border-radius: 40px;
}

// *** OUTLINED ***

.grade-primary-full-outlined {
  color: $orange-a500;
  background-color: transparent;
  border: 2px solid $orange-a500;

  &:hover,
  &:focus {
    padding: 0 6px;
    border: 1px solid $orange-a500;
  }

  &:active {
    background-color: $orange-30;
  }

  &:disabled {
    color: $gray-blue-300;
    cursor: auto;
    background-color: $neutral-05;
    border: 1px solid $gray-blue-300;
  }
}

.grade-secondary-full-outlined {
  color: $iris-900;
  background-color: transparent;
  border: 2px solid $iris-900;

  &:hover,
  &:focus {
    padding: 0 6px;
    color: $iris-900;
    border: 1px solid $iris-900;
  }

  &:active {
    color: $gray-blue-600;
    background-color: $iris-50;
  }

  &:disabled {
    color: $gray-blue-300;
    cursor: auto;
    background-color: $neutral-05;
    border: 1px solid $gray-blue-300;
  }
}

.grade-neutral-full-outlined {
  color: $neutral-900;
  background-color: transparent;
  border: 2px solid $neutral-900;

  &:hover,
  &:focus {
    padding: 0 6px;
    color: $neutral-900;
    background-color: $neutral-05;
    border: 1px solid $neutral-900;
  }

  &:active {
    color: $gray-blue-600;
    background-color: $neutral-50;
  }

  &:disabled {
    color: $gray-blue-300;
    cursor: auto;
    background-color: $neutral-05;
    border: 1px solid $gray-blue-300;
  }
}

// *** TEXT ***

.grade-neutral-full-text {
  background-color: transparent;
  border-radius: 8px;

  &:hover,
  &:focus {
    color: $neutral-900;
    background-color: $gray-blue-50;
  }

  &:active {
    color: $gray-blue-500;
  }

  &:disabled {
    color: $gray-blue-300;
    cursor: auto;
    background-color: transparent;
  }
}

.grade-accent-full-text {
  color: $orange-a500;
  background-color: transparent;
  border: 0;
  border-radius: 8px;

  &:hover,
  &:focus {
    color: $orange-500;
    background-color: $orange-50;
  }

  &:active {
    color: $orange-a500;
    background-color: $orange-30;
  }

  &:disabled {
    color: $gray-blue-300;
    cursor: auto;
    background-color: transparent;
  }
}

.grade-iris-full-text {
  color: $gray-blue-600;
  background-color: $neutral-05;
  border: 0;
  border-radius: 8px;

  &:hover,
  &:focus {
    color: $iris-700;
    background-color: $iris-50;
  }

  &:active {
    color: $iris-700;
    background-color: transparent;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $neutral-05;
  }
}

.font-text-m {
  @include body-4;
}

.font-text-s {
  @include body-5;
}

.font-text-xs {
  @include body-6;
}

// *** FILLED ***

.grade-primary-full-filled {
  color: $neutral-0;
  background-color: $orange-a500;

  &:hover,
  &:focus {
    color: $neutral-0;
    background-color: $orange-500;
  }

  &:active {
    color: $orange-300;
    background-color: $orange-a500;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

.grade-secondary-full-filled {
  color: $neutral-0;
  background-color: $iris-900;

  &:hover,
  &:focus {
    color: $iris-200;
  }

  &:active {
    color: $iris-400;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

.grade-neutral-full-filled {
  color: $neutral-900;
  background-color: $gray-blue-50;

  &:hover,
  &:focus {
    color: $neutral-900;
    background-color: $gray-blue-100;
  }

  &:active {
    color: $gray-blue-400;
    background-color: $gray-blue-200;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

// *** FONT ***

.font-l {
  @include btn-2;
}

.font-m {
  @include btn-3;
}

.font-s {
  @include btn-4;
}

.font-xs {
  @include body-6;
}

// *** HEIGHT ***

.height-56 {
  height: 56px;
}

.height-48 {
  height: 48px;
}

.height-44 {
  height: 44px;
}

.height-40 {
  height: 40px;
}

.height-32 {
  height: 32px;
}
