@use 'src/app/styles/core/variables' as *;

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  outline: 0;
  transition-duration: 200ms;
  transition-property: color, background-color;

  [class*='icon'] {
    transition-duration: 200ms;
    transition-property: fill, stroke;
  }

  &:hover {
    cursor: pointer;
  }
}

// *** ARROW_NAVIGATION ***

.grade-iris-full-filled {
  background-color: $iris-50;

  [class*='icon'] {
    fill: $iris-400;
  }

  &:hover,
  &:focus {
    background-color: $iris-100;

    [class*='icon'] {
      fill: $iris-700;
    }
  }

  &:active {
    background-color: $iris-50;

    [class*='icon'] {
      fill: $iris-200;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $gray-blue-200;
    }
  }
}

.grade-iris-full-stroke {
  background-color: $iris-50;

  [class*='icon'] {
    stroke: $iris-400;
  }

  &:hover,
  &:focus {
    background-color: $iris-100;

    [class*='icon'] {
      stroke: $iris-700;
    }
  }

  &:active {
    background-color: $iris-50;

    [class*='icon'] {
      stroke: $iris-200;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

.grade-neutral-full-filled {
  background-color: transparent;

  [class*='icon'] {
    fill: $gray-blue-600;
  }

  &:hover,
  &:focus {
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $iris-700;
    }
  }

  &:active {
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $iris-200;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $gray-blue-200;
    }
  }
}

.grade-neutral-full-stroke {
  background-color: transparent;

  [class*='icon'] {
    stroke: $gray-blue-600;
  }

  &:hover,
  &:focus {
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $iris-700;
    }
  }

  &:active {
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $iris-200;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

// *** ICON_MAIN ***

.main {
  border-radius: 4px;
}

.main-round {
  border-radius: 40px;
}

.main-grade-primary-full-filled {
  background-color: $orange-a500;

  [class*='icon'] {
    fill: $neutral-0;
  }

  &:hover,
  &:focus {
    background-color: $orange-500;

    [class*='icon'] {
      fill: $neutral-0;
    }
  }

  &:active {
    background-color: $orange-a500;

    [class*='icon'] {
      fill: $orange-300;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $gray-blue-200;
    }
  }
}

.main-grade-primary-full-stroke {
  background-color: $orange-a500;

  [class*='icon'] {
    stroke: $neutral-0;
  }

  &:hover,
  &:focus {
    background-color: $orange-500;

    [class*='icon'] {
      stroke: $neutral-0;
    }
  }

  &:active {
    background-color: $orange-a500;

    [class*='icon'] {
      stroke: $orange-300;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

.main-grade-secondary-full-filled {
  background-color: $iris-900;

  [class*='icon'] {
    fill: $neutral-0;
  }

  &:hover,
  &:focus {
    background-color: $iris-900;

    [class*='icon'] {
      fill: $iris-200;
    }
  }

  &:active {
    background-color: $iris-900;

    [class*='icon'] {
      fill: $iris-400;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $gray-blue-200;
    }
  }
}

.main-grade-secondary-full-stroke {
  background-color: $iris-900;

  [class*='icon'] {
    stroke: $neutral-0;
  }

  &:hover,
  &:focus {
    background-color: $iris-900;

    [class*='icon'] {
      stroke: $iris-200;
    }
  }

  &:active {
    background-color: $iris-900;

    [class*='icon'] {
      stroke: $iris-400;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

.main-grade-neutral-full-filled {
  background-color: $gray-blue-50;

  [class*='icon'] {
    fill: $neutral-900;
  }

  &:hover,
  &:focus {
    background-color: $gray-blue-100;

    [class*='icon'] {
      fill: $neutral-900;
    }
  }

  &:active {
    background-color: $gray-blue-200;

    [class*='icon'] {
      fill: $gray-blue-400;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      fill: $gray-blue-200;
    }
  }
}

.main-grade-neutral-full-stroke {
  background-color: $gray-blue-50;

  [class*='icon'] {
    stroke: $neutral-900;
  }

  &:hover,
  &:focus {
    background-color: $gray-blue-100;

    [class*='icon'] {
      stroke: $neutral-900;
    }
  }

  &:active {
    background-color: $gray-blue-200;

    [class*='icon'] {
      stroke: $gray-blue-400;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $gray-blue-50;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

// *** BUTTON_ACTION ***

.action-full-filled {
  background-color: transparent;

  [class*='icon'] {
    fill: $neutral-900;
  }

  &:hover,
  &:focus {
    background-color: $iris-100;

    [class*='icon'] {
      fill: $iris-500;
    }
  }

  &:active {
    background-color: $iris-200;

    [class*='icon'] {
      fill: $iris-500;
    }
  }
}

.action-full-stroke {
  background-color: transparent;

  [class*='icon'] {
    stroke: $neutral-900;
  }

  &:hover,
  &:focus {
    background-color: $iris-100;

    [class*='icon'] {
      stroke: $iris-500;
    }
  }

  &:active {
    background-color: $iris-200;

    [class*='icon'] {
      stroke: $iris-500;
    }
  }
}

// *** BUTTON_COUNT ***

.count-full-stroke {
  background-color: transparent;
  border: 1px solid $neutral-900;
  border-radius: 8px;

  [class*='icon'] {
    stroke: $neutral-900;
  }

  &:hover,
  &:focus {
    border-color: $iris-500;

    [class*='icon'] {
      stroke: $iris-500;
    }
  }

  &:active {
    border-color: $iris-300;

    [class*='icon'] {
      stroke: $iris-300;
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: auto;
    border: 1px solid $gray-blue-200;

    [class*='icon'] {
      stroke: $gray-blue-200;
    }
  }
}

// *** SIZE ***

.size-56 {
  width: 56px;
  height: 56px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.size-40 {
  width: 40px;
  height: 40px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-24 {
  width: 24px;
  height: 24px;
}
