@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.tooltip {
  @include body-5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-tooltip;
  width: 280px;
  padding: 8px 10px;
  color: $green-a70;
  background-color: $green-500;
  border-radius: 8px;
  transition: opacity 200ms;

  &-hidden {
    z-index: -1;
    opacity: 0;
  }

  &-large {
    @include body-3;
    width: 320px;
    padding: 30px;
    color: $neutral-900;
    background-color: $neutral-0;
    box-shadow: $soft-002;
  }

  &__arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;

    &-top-center {
      border-bottom: 6px solid $green-500;
    }

    &-right-top {
      border-top: 0;
      border-right: 6px solid $green-500;
    }

    &-right {
      border-right: 6px solid $green-500;
    }

    &-bottom-right {
      border-right: 6px solid $green-500;
      border-bottom: 0;
    }

    &-bottom-center {
      border-top: 6px solid $green-500;
    }

    &-bottom-left {
      border-bottom: 0;
      border-left: 6px solid $green-500;
    }

    &-left {
      border-left: 6px solid $green-500;
    }

    &-left-top {
      border-top: 0;
      border-left: 6px solid $green-500;
    }

    &-large {
      border-bottom: 6px solid $neutral-0;
    }
  }

  &__label {
    width: 100%;
    text-align: start;
  }
}

.target {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}
