@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/_breakpoints' as *;
@use 'src/app/styles/core/_typography' as *;

.modal__body {
  padding: 20px 40px 50px;

  @include bp-743 {
    padding: 20px 30px 40px;
  }

  @include bp-479 {
    padding: 20px 20px 28px;
  }
}

.img__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 85px;
  overflow: hidden;
  background-color: $iris-100;
  border-radius: 14px;

  .img {
    z-index: 2;
    width: 145px;
    height: 85px;
    background-image: url('/images/long/build.png');
    background-repeat: no-repeat;
  }

  .circle {
    position: absolute;
    top: -50%;
    right: 50px;
    width: 160px;
    height: 160px;
    background-color: $pink-50;
    border-radius: 50%;
  }
}

.text__container {
  width: 480px;
  margin: 40px 0;

  @include bp-743 {
    width: 340px;
    margin: 30px 0 40px;
  }

  @include bp-479 {
    width: 267px;
    margin: 30px 0;
  }

  .title {

    @include headline-4;
    margin-bottom: 10px;
  }
    
  .subtitle {
    
    @include subtitle-1;

    @include bp-743 {
      width: 304px;
    }

    @include bp-479 {
      width: 267px;
    }
  }
}

.button {
  width: 100%;

  &-tg {
    margin-bottom: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }
}
