@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.banner {
  position: relative;
  width: 984px;
  min-height: 260px;
  margin: 80px auto;
  overflow: hidden;
  background-color: $neutral-50;
  border-radius: 20px;

  @include bp-1023 {
    margin: 60px auto;
  }

  @include bp-743 {
    margin: 30px auto;
  }

  @include bp-479 {
    min-height: 340px;
    margin: 60px auto;
    border-radius: 0;
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding: 36px 50px;

    @include bp-1023 {
      padding: 39px 40px;
    }

    @include bp-743 {
      padding: 43px 50px;
    }

    @include bp-479 {
      padding: 30px 20px;
    }
  }

  &__title {
    @include headline-4;
    margin: 0 0 10px;

    @include bp-743 {
      @include headline-5;
    }
  }

  &__list {
    margin: 0 0 20px;
  }

  &__text {
    @include body-3;

    @include bp-1023 {
      @include body-4;
    }

    @include bp-479 {
      @include body-5;
    }

    &:not(:last-child) {
      margin: 0 0 4px;
    }
  }

  &__messenger {
    @include bp-743 {
      width: 100%;
    }

    @include bp-479 {
      width: 282px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 636px;
    height: 261px;

    @include bp-1023 {
      width: 372px;
    }

    @include bp-743 {
      display: none;
    }

    @include bp-479 {
      display: block;
      width: 100%;
      height: 165px;
    }
  }
}
