@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 16px 157px 77px;

  @include bp-743 {
    padding: 16px 57px 77px;
  }

  @include bp-479 {
    padding: 16px 12px 77px;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    width: 58px;
    height: 79px;

    &-circle {
      width: 58px;
      height: 58px;
      background-color: $iris-100;
      border-radius: 50%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      @include headline-4;
    }

    &-subtitle {
      @include subtitle-1;
    }
  }
}
