@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 60px 0 100px;
}

.error__title {
  @include headline-4;
  margin-bottom: 40px;
  color: $gray-blue-600;
  @include bp-479 {
    @include headline-5;
  }
}

.input {
  height: 100px;
  margin-bottom: 20px;
}

.secondary_btn {
  width: 380px;

  @include bp-479 {
    width: 280px;
  }
}
