@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.rules {
  min-height: 130px;
  margin: 0 0 20px;
  background-color: $neutral-0;
  border-radius: 20px;
  box-shadow: $soft-004;
}

.wrapper {
  display: flex;
  margin: 0 0 20px;

  @include bp-1279 {
    flex-direction: column;
  }

  @include bp-1023 {
    flex-direction: row;
  }

  @include bp-743 {
    flex-direction: column;
    margin: 0 0 10px;
  }
}

.info {
  width: 50%;
  padding: 30px 30px 20px;
  margin: 0 10px 0 0;
  background-color: $blue-50;
  border-radius: 20px;

  @include bp-1279 {
    width: 100%;
    padding: 40px;
    margin: 0 0 20px;
  }

  @include bp-1023 {
    padding: 20px 20px 30px;
    margin: 0 10px 0 0;
  }

  @include bp-743 {
    padding: 20px;
    margin: 0 0 14px;
  }

  @include bp-479 {
    margin: 0 0 40px;
  }

  &__time {
    @include subtitle-1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 0 0 20px;

    @include bp-1279 {
      gap: 10px 50px;
    }

    @include bp-479 {
      @include subtitle-3;
    }
  }

  &__text {
    @include body-4;
    margin: 0 0 20px;

    @include bp-479 {
      @include body-5;
    }
  }

  &__messenger {
    @include bp-743 {
      width: 275px;
      padding: 0 20px;
    }

    @include bp-479 {
      width: 257px;
    }
  }
}

.text {
  width: 50%;
  padding: 20px;
  background-color: $gray-blue-50;
  border-radius: 20px;

  @include bp-1279 {
    width: 100%;
  }

  @include bp-479 {
    padding: 10px;
  }

  &__block {
    @include body-5;
    padding: 20px;
    background-color: $neutral-0;
    border-radius: 10px;

    @include bp-743 {
      @include body-6;
      padding: 10px 20px;
    }

    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }
}

.button {
  width: 184px;
  margin: 0 0 0 auto;

  &__icon {
    width: 6px;
    height: 12px;
    margin: 0 0 0 10px;
    stroke: $orange-500;
  }
}
