@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.breadcrumbs {
  margin: 20px auto;

  @include bp-1023 {
    margin: 10px auto;
  }

  @include bp-743 {
    margin: 4px auto;
  }

  @include bp-479 {
    margin: 4px 16px;
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    'gallery info'
    'description .'
    'services .'
    'map .';
  grid-template-rows: 630px;
  grid-template-columns: 744px 1fr;
  gap: 0 18px;

  @include bp-1279 {
    grid-template-rows: 510px;
    grid-template-columns: 570px 1fr;
    gap: 0 10px;
  }

  @include bp-1023 {
    grid-template-areas:
      'gallery info'
      'description description'
      'services services'
      'map map';
    grid-template-rows: unset;
    grid-template-columns: auto auto;
  }

  @include bp-743 {
    grid-template-areas:
      'gallery'
      'info'
      'description'
      'services'
      'map';
    grid-template-columns: 1fr;
  }
}

.gallery {
  grid-area: gallery;
  margin: 0 0 60px;

  @include bp-1023 {
    margin: 0 0 55px;
  }

  @include bp-743 {
    margin: 0 0 20px;
  }

  @include bp-479 {
    margin: 0;
  }
}

.info {
  position: sticky;
  top: 86px;
  grid-area: info;
  align-self: flex-start;

  @include bp-1023 {
    position: static;
  }
}

.description-wrapper {
  grid-area: description;
  margin: 0 auto 40px;

  @include bp-479 {
    max-width: calc(100% - 32px);
  }
}

.description {
  margin: 0 auto 10px;
}

.messenger {
  @include bp-743 {
    justify-content: center;
  }

  @include bp-479 {
    justify-content: space-around;
    width: 100%;
  }
}

.services {
  grid-area: services;
  margin: 0 0 100px;

  @include bp-1279 {
    margin: 0 0 86px;
  }

  @include bp-479 {
    width: calc(100% - 32px);
    margin: 0 auto 60px;
  }
}

.map {
  grid-area: map;

  @include bp-479 {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  &__title {
    @include headline-4;
    margin: 0 0 10px;

    @include bp-1023 {
      @include headline-5;
    }
  }

  &__text {
    @include body-3;
    margin: 0 0 10px;

    @include bp-743 {
      @include body-5;
    }
  }
}

.banner {
  margin: 100px auto;

  @include bp-1023 {
    margin: 80px auto;
  }
  @include bp-743 {
    margin: 60px auto;
  }
}

.collections {
  margin: 0 0 100px;
}

.search-form {
  @include bp-1023 {
    max-width: 100%;
  }
}
