@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  min-height: 98px;
  margin: 0 0 26px;

  @include bp-1279 {
    gap: 8px;
    min-height: 70px;
    margin: 0 0 30px;
  }

  @include bp-1023 {
    gap: 4px;
    min-height: 57px;
    margin: 0 0 28px;
  }

  @include bp-743 {
    min-height: 39px;
    margin: 0 0 30px;
  }

  @include bp-479 {
    min-height: 55px;
  }

  &__street {
    @include headline-5;

    @include bp-1279 {
      @include subtitle-2;
    }

    @include bp-1023 {
      @include subtitle-3;
    }
  }
}

.metro {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 0;

  @include bp-1023 {
    gap: 2px;
  }

  @include bp-743 {
    flex-direction: row;
    gap: 10px;
  }

  @include bp-479 {
    gap: 0 10px;
  }

  &__station {
    @include body-4;
    display: flex;
    gap: 4px;
    margin-right: 0;
    @include bp-1023 {
      @include body-5;
    }
  }

  &__distance {
    @include body-5;

    @include bp-743 {
      @include body-6;
    }
  }
}
