@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 60px 110px 70px;
  text-align: center;

  @include bp-743 {
    gap: 30px;
    margin: 30px 30px 60px;
  }
  @include bp-479 {
    gap: 40px;
    margin: 40px 20px 50px;
  }

  &__title {

    @include headline-4;

    @include bp-743 {
      @include headline-5;
    }
  }

  &__description {
    @include body-3;

    @include bp-743 {
      @include body-4;
    }
  }
}
