// COLORS

$neutral-0: #fff;
$neutral-05: #fafafa;
$neutral-50: #ebebeb;
$neutral-900: #000;

$gray-blue-50: #f0f3f8;
$gray-blue-100: #d9dadd;
$gray-blue-200: #b3b5bb;
$gray-blue-300: #8c909a;
$gray-blue-400: #666b78;
$gray-blue-500: #404656;
$gray-blue-600: #2d2f39;

$blue-50: #e3f0ff;
$blue-400: #469bff;
$blue-500: #1174e9;

$iris-50: #efeffd;
$iris-100: #dfdffc;
$iris-200: #bebff9;
$iris-300: #9e9ff5;
$iris-400: #7d7ff2;
$iris-500: #6f57eb;
$iris-700: #553db5;
$iris-900: #392b58;

$pink-50: #fcddec;
$pink-300: #f178b6;
$pink-400: #ef5da8;
$pink-a700: #fe4874;

$green-a70: #e8f6e7;
$green-a400: #2dce6d;
$green-50: #ebfeff;
$green-200: #9aced5;
$green-400: #3f888e;
$green-500: #005e58;
$green-900: #004642;

$orange-30: #fff6ea;
$orange-50: #ffeddc;
$orange-70: #ffdfd2;
$orange-300: #ffb89d;
$orange-500: #ff5c00;
$orange-a500: #ff6b3d;

$overlay-a05: rgba($gray-blue-500, 0.5);
$overlay: rgba(0, 0, 0, 0.2);

// SHADOW

$soft-001: 0 0 20px rgba(0, 0, 0, 0.1);
$soft-002: 0 10px 30px rgba(0, 0, 0, 0.1);
$soft-003: 0 10px 20px rgba(0, 0, 0, 0.1);
$soft-004: 0 30px 40px rgba(0, 0, 0, 0.05);

$hard-001: 0 0 2px rgba(0, 0, 0, 0.2);
$hard-002: 0 1px 0 rgba(0, 0, 0, 0.2);

// Z-INDEX

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-offcanvas: 1050;
$zindex-modal: 1060;
$zindex-popover: 1070;
$zindex-tooltip: 1080;
