@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.progress {
  @include body-3;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray-blue-50;
}

.stage {
  display: flex;
  gap: 2px;

  &__item {
    flex: 1;
    height: 4px;
    background-color: $iris-50;

    &-active {
      background-color: $iris-400;
    }
  }
}
