@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;

.gallery {
  @include bp-1023 {
    max-width: 347px;
    max-height: 366px;
  }

  @include bp-743 {
    max-width: 440px;
  }

  @include bp-479 {
    width: 100vw;
    max-width: 100%;
  }

  &__inner {
    position: relative;
  }

  &__button-next,
  &__button-prev {
    @include bp-1023 {
      display: none;
    }
  }

  &__button-next {
    right: 10px;
  }

  &__button-prev {
    left: 10px;
  }
}

.main-swiper {
  margin-bottom: 10px;

  @include bp-743 {
    margin-bottom: 0;
  }
}

.main-image {
  width: 744px;
  height: 449px;
  overflow: hidden;
  border-radius: 2px;

  @include bp-1279 {
    width: 570px;
    height: 360px;
  }

  @include bp-1023 {
    width: 347px;
    height: 296px;
  }

  @include bp-743 {
    width: 440px;
    height: 220px;
  }

  @include bp-479 {
    width: 100%;
    height: 272px;
  }
}

.thumb-image {
  width: 141px;
  height: 110px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;

  @include bp-1279 {
    width: 106px;
    height: 80px;
  }

  @include bp-1023 {
    width: 61px;
    height: 60px;
  }

  @include bp-743 {
    display: none;
  }

  &::after {
    content: '';
    transition: box-shadow 0.2s;
  }
}

.thumb {
  [class*='swiper-slide-thumb-active'] {
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      content: '';
      background: linear-gradient(0deg, rgba(111, 89, 201, 0.2), rgba(111, 89, 201, 0.2));
      box-shadow: inset $iris-500 0 0 0 3px;
    }
  }
}
