@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.info {
  width: 438px;
  padding: 30px 30px 40px;
  background: $neutral-0;
  border-radius: 2px;
  box-shadow: $soft-004;

  @include bp-1279 {
    width: 404px;
    padding: 20px 20px 32px;
  }

  @include bp-1023 {
    gap: 20px;
    width: 347px;
    padding: 20px;
  }

  @include bp-743 {
    width: 440px;
    padding: 18px 20px 20px;
  }

  @include bp-479 {
    width: 100%;
    padding: 16px 16px 30px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;

  @include bp-1279 {
    margin: 0 0 30px;
  }

  @include bp-1023 {
    margin: 0 0 20px;
  }

  @include bp-743 {
    margin: 0 0 22px;
  }

  @include bp-479 {
    margin: 0 0 20px;
  }

  &__left {
    display: flex;

    &-icon {
      width: 16px;
      height: 16px;
    }
  }

  &__right {
    display: flex;
    gap: 10px;
  }
}

.params {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 60px;

  @include bp-1279 {
    gap: 4px;
    margin: 0 0 40px;
  }

  @include bp-1023 {
    margin: 0 0 20px;
  }

  @include bp-743 {
    margin: 0 0 30px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 48px;

  @include bp-1279 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;
  }

  @include bp-1023 {
    margin: 0 0 15px;
  }

  @include bp-743 {
    gap: 20px;
    justify-content: flex-start;
    margin: 0 0 30px;
  }

  @include bp-479 {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }

  &__full {
    display: flex;
    gap: 4px;
    align-items: center;
    width: fit-content;

    &-amount {
      @include headline-5;
      color: $gray-blue-600;

      @include bp-1279 {
        @include subtitle-2;
      }
    }

    &-icon {
      path {
        fill: $neutral-0;
      }
    }
  }

  &__deposit {
    @include body-5;
    color: $gray-blue-400;
  }
}

.btn {
  width: 100%;
}
