@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;
@use 'src/app/styles/core/variables' as *;

.breadcrumbs {
  margin: 20px auto;

  @include bp-1023 {
    margin: 10px auto;
  }

  @include bp-743 {
    margin: 4px auto;
  }

  @include bp-479 {
    margin: 4px 16px;
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    'gallery info'
    'description .'
    'services .'
    'map .'
    'rules .'
    'rating .';
  grid-template-rows: 630px;
  grid-template-columns: 744px 1fr;
  gap: 0 18px;
  margin: 0 auto 60px;

  @include bp-1279 {
    grid-template-rows: 510px;
    grid-template-columns: 570px 1fr;
    gap: 0 10px;
  }

  @include bp-1023 {
    grid-template-areas:
      'gallery info'
      'description description'
      'services services'
      'map map'
      'rules rules'
      'rating rating';
    grid-template-rows: unset;
    grid-template-columns: auto auto;
  }

  @include bp-743 {
    grid-template-areas:
      'gallery'
      'info'
      'description'
      'services'
      'map'
      'rules'
      'rating';
    grid-template-columns: 1fr;
  }
}

.gallery {
  grid-area: gallery;
  margin: 0 0 60px;

  @include bp-1023 {
    margin: 0 0 60px;
  }

  @include bp-743 {
    margin: 0 0 20px;
  }

  @include bp-479 {
    margin: 0 0 8px;
  }
}

.info {
  position: sticky;
  top: 86px;
  grid-area: info;
  align-self: flex-start;

  @include bp-1023 {
    position: static;
    margin: 0 0 60px;
  }

  @include bp-743 {
    margin: 0 0 40px;
  }

  @include bp-479 {
    margin: 0 auto 40px;
  }
}

.description-wrapper {
  grid-area: description;
  margin: 0 auto 20px;

  @include bp-479 {
    max-width: calc(100% - 32px);
  }
}

.services {
  grid-area: services;
  margin: 0 0 80px;

  @include bp-743 {
    margin: 0 0 60px;
  }

  @include bp-479 {
    width: calc(100% - 32px);
    margin: 0 auto 60px;
  }
}

.map {
  grid-area: map;
  margin: 0 0 80px;

  @include bp-1023 {
    margin: 0 0 100px;
  }

  @include bp-743 {
    margin: 0 0 60px;
  }

  @include bp-479 {
    width: calc(100% - 32px);
    margin: 0 auto 60px;
  }

  &__title {
    @include headline-4;
    margin: 0 0 10px;

    @include bp-1023 {
      margin: 0 0 2px;
    }

    @include bp-479 {
      margin: 0 0 10px;
    }
  }

  &__text {
    @include body-3;
    margin: 0 0 10px;

    @include bp-743 {
      @include body-5;
    }
  }
}

.rules {
  grid-area: rules;
  margin: 0 0 100px;

  @include bp-1279 {
    margin: 0 0 94px;
  }

  @include bp-1023 {
    margin: 0 0 80px;
  }

  @include bp-743 {
    margin: 0 0 132px;
  }

  @include bp-479 {
    width: calc(100% - 32px);
    margin: 0 auto 113px;
  }

  &__heading {
    @include headline-4;
    margin: 0 0 40px;

    @include bp-743 {
      margin: 0 0 20px;
    }
  }
}

.rating {
  grid-area: rating;
  padding: 30px 30px 40px;
  background-color: $neutral-0;
  border-radius: 20px;

  @include bp-479 {
    width: calc(100% - 32px);
    padding: 20px 20px 30px;
    margin: 0 auto;
  }
}

.collections {
  margin: 0 0 170px;

  @include bp-1279 {
    margin: 0 0 206px;
  }

  @include bp-1023 {
    margin: 0 0 148px;
  }
}
