@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.icon {
  fill: none;
  stroke: $neutral-900;
}

.size-20 {
  width: 20px;
  height: 20px;
}

.square {
  border: 1px solid $neutral-900;
  border-radius: 6px;
}

.circle {
  border: 1px solid $neutral-900;
  border-radius: 50%;
}
