@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.inner {
  position: relative;
  min-height: 200px;
  overflow: hidden;
  background-image: linear-gradient(91.52deg, #dfdffc 0.13%, #c6b7f5 100%);
  border-radius: 20px;

  @include bp-1023 {
    min-height: 160px;
  }

  @include bp-743 {
    min-height: 134px;
  }

  @include bp-479 {
    max-width: calc(100% - 32px);
    min-height: 172px;
  }
}

.text-wrapper {
  margin: 30px 0 0 40px;

  @include bp-1023 {
    margin: 30px 0 0 20px;
  }

  @include bp-743 {
    margin: 20px 0 0 20px;
  }
}

.heading {
  @include headline-3;
  margin: 0 0 10px;

  @include bp-1023 {
    @include headline-4;
    margin: 0 0 2px;
  }

  @include bp-743 {
    @include headline-5;
    width: 260px;
  }
}

.text {
  @include body-2;

  @include bp-1023 {
    @include body-3;
    width: 282px;
  }

  @include bp-743 {
    @include body-5;
    width: 216px;
  }
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 200px;
  background-image: url('/images/long/main-screen.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include bp-1023 {
    top: 15px;
    width: 255px;
    height: 145px;
  }

  @include bp-743 {
    top: 20px;
    width: 200px;
    height: 114px;
    background-image: url('/images/long/main-screen-2.png');
  }

  @include bp-479 {
    top: unset;
    bottom: 0;
    width: 180px;
    height: 92px;
    background-position: 30px 10px;
  }
}

.filter {
  position: relative;
  top: -50px;

  @include bp-1023 {
    top: -20px;
  }

  @include bp-743 {
    top: -10px;
  }
}

.quantity {
  @include body-3;
  width: 840px;
  min-height: 22px;
  margin: -30px auto 60px;
  text-align: right;

  @include bp-1023 {
    width: 644px;
    margin: 0 auto 60px;
  }

  @include bp-743 {
    @include body-4;
    width: 420px;
    min-height: 20px;
    margin: 10px auto 40px;
  }

  @include bp-479 {
    width: unset;
    text-align: center;
  }
}
